Han Solo
Smuggler
Skills: piloting spacecraft, shoting with pistol, understand wookie language
Studies: self taught
Professional experience: Bounty Hunter for Jabba the Hunt
Hobby: seducing women
Other: Can relocate to any location, does not want a remote job, own the millenium falcon which is ideal for fast delivery and escape